<section id="user_info">
  <span id="name">{{currentUser.name}}</span>
  <span id="neptun">{{currentUser.neptunId}}</span>
  <span id="current_room">-</span> <!-- TODO: Add room -->
  <div><a href="" (click)="checkoutFromRoom()">Kijelenkezés a szobából</a></div>
</section>
<section id="view_normal">
  <section id="building"></section>
  <section id="building_level_selector">
    <div class="overlay"></div>
    <div class="levels"></div>
  </section>
</section>
<section id="view_simple">
</section>

<div id="page_overlay">
  <section id="apply_box" class="box">
    <h2>Jelentkezés</h2>
    <p class="base_message">Biztos szeretnél jelentkezni <span class="room_number_formated"></span> szobába<span class="non_empty_suffix"> <span class="roommate_name"></span> szobatársaként</span>?</p>
    <p class="changing_room">Jelenleg be vagy jelentkezve <span class="room_number_formated"></span> szobába<span class="non_empty_suffix"> <span class="roommate_name"></span> szobatársaként</span>.</p>
    <div><button class="apply">Jelentkezés</button><button class="cancel">Mégse</button></div>
  </section>
  <section id="notify_box" class="box">
    <p></p>
  </section>
</div>
