<section>
    <div class = "floating">
        <div class = "form table"> 
            <table>
                <thead>
                    <tr>
                        <th colspan = "2">Kérlek regisztrálj!</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><label for = "password">Jelszó: </label></td>
                        <td><input type = "password" id = "password"></td>
                    </tr>
                    <tr>
                        <td><label for = "password again">Jelszó újra:</label></td>
                        <td><input type = "password" id = "password again"></td>
                    </tr>
                    <tr>
                        <td><input type = "button" value = "Regisztráció"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>